<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    <properties>-->
<!--        <property name="jdbc.driverClassName" value="com.mysql.jdbc.Driver"/>-->
<!--        <property name="jdbc.url" value="jdbc:mysql://localhost:3306/books?characterEncoding=utf-8"/>-->
<!--        <property name="jdbc.username" value="root"/>-->
<!--        <property name="jdbc.password" value="123456"/>-->
<!--    </properties>-->
    <!-- 引用外部配置 -->
    <properties resource="jdbc.properties" />

    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeHandlers>
<!--        <typeHandler handler="com.zds.mybatis.handler.DepartmentTypeHandler"-->
<!--                     javaType="com.zds.mybatis.entity.Department" jdbcType="VARCHAR"/>-->
    </typeHandlers>

    <objectFactory type="com.zds.mybatis.factory.ExtendsObjectFactory"/>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driverClassName}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/department.xml"/>
        <mapper resource="mapper/user.xml"/>
    </mappers>
</configuration>
